name: "DEV_DEPLOY"

on:
  push:
    branches:
      - dev

permissions:
  id-token: write
  contents: read

jobs:
    terraform:
      uses: ./.github/workflows/terraform.yml
      with:
        environment: 'dev'
        aws-assume-role-arn: 'arn:aws:iam::670801933615:role/github-actions-GabrielMoribe-pipeline'
        aws-region: 'us-east-1'
        aws-s3-statefile-bucket: 'gabrielmoribe-us-east-1-terraform-statefile'
        aws-lock-dynamo-table: 'gabrielmoribe-sa-east-1-terraform-lock'

