name: Java CI pipeline

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Run Tests
        run: ./mvnw test -Dspring.profiles.active=test

      - name: Build with Maven
        env:
          DB_URL: jdbc:postgresql://localhost:5432/testSpringSecurity
          DB_USERNAME: postgres
          DB_PASSWORD: password
          API_SECURITY_TOKEN_SECRET: chave_temporaria_423974987
          EMAIL_USERNAME: ${{ secrets.EMAIL_USERNAME }}
          EMAIL_PASSWORD: ${{ secrets.EMAIL_PASSWORD }}
          MP_ACCESS_TOKEN: ${{ secrets.MP_ACCESS_TOKEN }}
          MP_WEBHOOK_SECRET: ${{ secrets.MP_WEBHOOK_SECRET }}
          MP_NOTIFICATION_URL: ${{ secrets.MP_NOTIFICATION_URL }}
          MP_BACK_URL: ${{ secrets.MP_BACK_URL }}
        run: ./mvnw clean package -DskipTests

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: gabrielmoribe/springsecurity-postgresql-app:latest