name: "Terraform workflow"

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
      aws-assume-role-arn:
        required: true
        type: string
      aws-region:
        required: true
        type: string
      aws-s3-statefile-bucket:
        required: true
        type: string
      aws-lock-dynamo-table:
        required: true
        type: string


jobs:
  terraform:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash


    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.8.3


      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ inputs.aws-assume-role-arn }}
          role-session-name: GitHub_to_AWS_via_FederatedOIDC
          aws-region: ${{ inputs.aws-region }}


      - name: Read destroy configuration
        id: read-destroy-config
        run: |
          DESTROY="$(jq -r '.${{ inputs.environment }}' ./infra/destroy_config.json)"
          echo "destroy=${DESTROY}" >> "$GITHUB_OUTPUT"


      - name: Terraform Init
        run: |
          cd infra
          terraform init \
            -backend-config="bucket=${{ inputs.aws-s3-statefile-bucket }}" \
            -backend-config="key=${{ github.event.repository.name }}" \
            -backend-config="region=${{ inputs.aws-region }}" \
            -backend-config="dynamodb_table=${{ inputs.aws-lock-dynamo-table }}"


      - name: Terraform Validate
        run: cd infra && terraform validate


      - name: Terraform Destroy
        if: steps.read-destroy-config.outputs.destroy == 'true'
        id: terraform-destroy
        env:
          TF_VAR_db_username: ${{ secrets.DB_USERNAME }}
          TF_VAR_db_password: ${{ secrets.DB_PASSWORD }}
          TF_VAR_api_security_token_secret: ${{ secrets.API_SECURITY_TOKEN_SECRET }}
          TF_VAR_email_username: ${{ secrets.EMAIL_USERNAME }}
          TF_VAR_email_password: ${{ secrets.EMAIL_PASSWORD }}
          TF_VAR_public_key: ${{ secrets.EC2_PUBLIC_KEY }}
        run: |
          cd infra
          terraform workspace select "${{ inputs.environment }}" || terraform workspace new "${{ inputs.environment }}"
          terraform destroy -var-file="./envs/${{ inputs.environment }}/terraform.tfvars" -auto-approve


      - name: Terraform Plan
        if: steps.read-destroy-config.outputs.destroy != 'true'
        id: terraform-plan
        env:
          TF_VAR_db_username: ${{ secrets.DB_USERNAME }}
          TF_VAR_db_password: ${{ secrets.DB_PASSWORD }}
          TF_VAR_api_security_token_secret: ${{ secrets.API_SECURITY_TOKEN_SECRET }}
          TF_VAR_email_username: ${{ secrets.EMAIL_USERNAME }}
          TF_VAR_email_password: ${{ secrets.EMAIL_PASSWORD }}
          TF_VAR_public_key: ${{ secrets.EC2_PUBLIC_KEY }}
        run: |
            cd infra
            terraform workspace select "${{ inputs.environment }}" || terraform workspace new "${{ inputs.environment }}"
            terraform plan -var-file="./envs/${{ inputs.environment }}/terraform.tfvars" -out="${{ inputs.environment }}.plan"
    

      - name: Terraform Apply
        if: steps.read-destroy-config.outputs.destroy != 'true'
        id: terraform-apply
        env:
          TF_VAR_db_username: ${{ secrets.DB_USERNAME }}
          TF_VAR_db_password: ${{ secrets.DB_PASSWORD }}
          TF_VAR_api_security_token_secret: ${{ secrets.API_SECURITY_TOKEN_SECRET }}
          TF_VAR_email_username: ${{ secrets.EMAIL_USERNAME }}
          TF_VAR_email_password: ${{ secrets.EMAIL_PASSWORD }}
          TF_VAR_public_key: ${{ secrets.EC2_PUBLIC_KEY }}
        run: |
            cd infra
            terraform workspace select "${{ inputs.environment }}" || terraform workspace new "${{ inputs.environment }}"
            terraform apply "${{ inputs.environment }}.plan"